<a href="https://colab.research.google.com/github/Jorgedavid91/ml_project/blob/dev/ML_Proyecto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Github

In [ ]:
#!apt-get install -y git

In [ ]:
#!git remote add origin https://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@github.com/Jorgedavid91/ml_project.git
#!git config --global user.name "Jorge M."
#!git config --global user.email "jorge.david.91@hotmail.com"
#!git commit -m "Función OneHot automática"
#!ls

In [15]:
import pandas as pd
import numpy as np

Levantamos el dataset original

In [16]:
df = pd.read_csv('/content/drive/MyDrive/dataset/ml_final_project/COVID19MEXICO.csv',header='infer')

Primer mapeo general del dataset

In [ ]:
#print(df.info())
'''df["EDAD"].describe()
percentil_25 = df['EDAD'].quantile(0.25)
mediana = df['EDAD'].quantile(0.50)
percentil_75 = df['EDAD'].quantile(0.75)
percentil_99 = df['EDAD'].quantile(0.99)

print(f'Percentil 25: {percentil_25}')
print(f'Mediana (Percentil 50): {mediana}')
print(f'Percentil 75: {percentil_75}')
print(f'Percentil 99: {percentil_99}')'''

'df["EDAD"].describe()\npercentil_25 = df[\'EDAD\'].quantile(0.25)\nmediana = df[\'EDAD\'].quantile(0.50)\npercentil_75 = df[\'EDAD\'].quantile(0.75)\npercentil_99 = df[\'EDAD\'].quantile(0.99)\n\nprint(f\'Percentil 25: {percentil_25}\')\nprint(f\'Mediana (Percentil 50): {mediana}\')\nprint(f\'Percentil 75: {percentil_75}\')\nprint(f\'Percentil 99: {percentil_99}\')'

In [17]:
clasificacion_final = [['1','1 - CONFIRMADO - ASOCIACIÓN CLÍNICA EPIDEMIOLÓGICA'],['2','2 - CONFIRMADO POR COMITÉ DE  DICTAMINACIÓN'],['3','3 - CONFIRMADO POR LABORATORIO'],['4','4 - INVÁLIDO POR LABORATORIO'],['5','5 - NO REALIZADO POR LABORATORIO'],['6','6 - CASO SOSPECHOSO'],['7','7 - NEGATIVO']]
pd.set_option('display.max_columns', None)
clas_final_df = pd.DataFrame(clasificacion_final, columns=['CLASIFICACION_FINAL', 'clasificacion_descrip'])
clas_final_df = clas_final_df.astype({'CLASIFICACION_FINAL': int, 'clasificacion_descrip': str})
#print(clas_final_df.info())

In [18]:
#Agregamos un campo calculado llamado FALLECIDO, que será nuestra variable dependiente (a predecir)
df['FALLECIDO'] = np.where(df['FECHA_DEF'] != '9999-99-99', 'SI', 'NO')

#Agregamos un campo llamado clasificacion_descrip para identificar con mayor facilidad los tipos de diagnósticos
df3 = pd.merge(
    df,
    clas_final_df,
    how="inner",
    on='CLASIFICACION_FINAL',
)

#print(df3.head())
#print(df3.groupby(['clasificacion_descrip','FALLECIDO'])['ID_REGISTRO'].nunique())

In [ ]:
#!pip install pandas-profiling
#from ydata_profiling import ProfileReport

In [ ]:
#prof = ProfileReport(df3)
#prof.to_file(output_file='output.html')

In [19]:
from sklearn.preprocessing import OneHotEncoder
def one_hot_encode(campo):
  # Crear un objeto OneHotEncoder
  ohe = OneHotEncoder(sparse_output=False)
  # Ajustar y transformar la columna con el encoder
  arr = ohe.fit_transform(campo.values.reshape(-1, 1))
  # Crea un nuevo df con las columnas codificadas
  df = pd.DataFrame(arr, columns=ohe.get_feature_names_out())
  # Obteine el nombre del único campo del df input
  nombre_campo = (pd.DataFrame(campo)).columns[0]
  # Reemplazo el parte el nombre por defecto que asigna la función ohe.get_feature_names_out() para las columnas del df output
  df.columns = df.columns.str.replace("x0", nombre_campo, regex=True)
  # Convierto tipo de dato float (default) a entero
  for col in df.columns:
    df[col] = df[col].astype(int)
  # Devuelve el nuevo dataframe
  return df

# llamda a la funcion
#df_onehot = one_hot_encode(df3['SECTOR'])
#print(df_onehot.info())

In [20]:
# Primera seleccion de atributos
df_seleccion_1 = df3[['FECHA_ACTUALIZACION',
                      'ORIGEN',
                      'SECTOR',
                      'ENTIDAD_UM',
                      'SEXO',
                      'ENTIDAD_NAC',
                      'ENTIDAD_RES',
                      'MUNICIPIO_RES',
                      'TIPO_PACIENTE',
                      'FECHA_INGRESO',
                      'FECHA_SINTOMAS',
                      'FECHA_DEF',
                      'INTUBADO',
                      'NEUMONIA',
                      'EDAD',
                      'EMBARAZO',
                      'INDIGENA',
                      'DIABETES',
                      'EPOC',
                      'ASMA',
                      'INMUSUPR',
                      'HIPERTENSION',
                      'CARDIOVASCULAR',
                      'OBESIDAD',
                      'RENAL_CRONICA',
                      'TABAQUISMO',
                      'OTRO_CASO',
                      'CLASIFICACION_FINAL',
                      'UCI',
                      'FALLECIDO']]
df_seleccion_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1137999 entries, 0 to 1137998
Data columns (total 30 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   FECHA_ACTUALIZACION  1137999 non-null  object
 1   ORIGEN               1137999 non-null  int64
 2   SECTOR               1137999 non-null  int64
 3   ENTIDAD_UM           1137999 non-null  int64
 4   SEXO                 1137999 non-null  int64
 5   ENTIDAD_NAC          1137999 non-null  int64
 6   ENTIDAD_RES          1137999 non-null  int64
 7   MUNICIPIO_RES        1137999 non-null  int64
 8   TIPO_PACIENTE        1137999 non-null  int64
 9   FECHA_INGRESO        1137999 non-null  object
 10  FECHA_SINTOMAS       1137999 non-null  object
 11  FECHA_DEF            1137999 non-null  object
 12  INTUBADO             1137999 non-null  int64
 13  NEUMONIA             1137999 non-null  int64
 14  EDAD                 1137999 non-null  int64
 15  EMBARAZO             1137999 non-null  int64
 16  INDIGENA             1137999 non-null  int64
 17  DIABETES             1137999 non-null  int64
 18  EPOC                 1137999 non-null  int64
 19  ASMA                 1137999 non-null  int64
 20  INMUSUPR             1137999 non-null  int64
 21  HIPERTENSION         1137999 non-null  int64
 22  CARDIOVASCULAR       1137999 non-null  int64
 23  OBESIDAD             1137999 non-null  int64
 24  RENAL_CRONICA        1137999 non-null  int64
 25  TABAQUISMO           1137999 non-null  int64
 26  OTRO_CASO            1137999 non-null  int64
 27  CLASIFICACION_FINAL  1137999 non-null  int64
 28  UCI                  1137999 non-null  int64
 29  FALLECIDO            1137999 non-null  object
dtypes: int64(25), object(5)
memory usage: 269.1+ MB

In [21]:
def categorizar_si_no(valor):
  if valor in (1,"SI"):
    return 1
  elif valor in (2,"NO"):
    return 0
  else:
    return -1

Creo un dataframa llamado **df_categ** que contendrá los att categorizados de manera binaria (0 y 1)

In [22]:
df_categ = pd.DataFrame()

Función para convertir SI y NO
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
```

Campo SEXO
```
Codificación binaria:
1 --> 1 = Mujer
2 --> 0 = Hombre
```

In [ ]:
df_seleccion_1['SEXO'].value_counts()

1    669554
2    468445
Name: SEXO, dtype: int64

In [23]:
df_seleccion_1['SEXO'] = df_seleccion_1['SEXO'].map(categorizar_si_no)
df_seleccion_1['SEXO'].value_counts()

<ipython-input-23-626cf2b80ffa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seleccion_1['SEXO'] = df_seleccion_1['SEXO'].map(categorizar_si_no)

1    669554
0    468445
Name: SEXO, dtype: int64

Campo INTUBADO
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['INTUBADO'].value_counts()

97    1049894
2       83901
1        3966
99        238
Name: INTUBADO, dtype: int64

In [24]:
df_intubado_onehot = one_hot_encode(df_seleccion_1['INTUBADO'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_intubado_onehot], axis=1)

#df_seleccion_1.head()

#df_seleccion_1.drop(columns='INTUBADO', inplace=True)
#df_seleccion_1.drop(['INTUBADO'], axis=1)

,FECHA_ACTUALIZACION,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,NEUMONIA,EDAD,EMBARAZO,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,CLASIFICACION_FINAL,UCI,FALLECIDO,INTUBADO_1,INTUBADO_2,INTUBADO_97,INTUBADO_99
0,2023-09-19,2,12,16,0,16,16,41,1,2023-03-09,2023-03-06,9999-99-99,2,28,97,2,2,2,2,2,2,2,2,2,1,2,7,97,NO,0,0,1,0
1,2023-09-19,2,12,9,1,9,9,3,1,2023-03-31,2023-03-31,9999-99-99,2,73,2,2,2,2,2,2,2,2,2,2,2,2,7,97,NO,0,0,1,0
2,2023-09-19,2,12,9,1,9,9,4,1,2023-01-12,2023-01-12,9999-99-99,2,5,2,2,2,2,2,2,2,2,2,2,2,2,7,97,NO,0,0,1,0
3,2023-09-19,2,12,9,0,15,15,25,1,2023-01-13,2023-01-13,9999-99-99,2,7,97,2,2,2,2,2,2,2,2,2,2,2,7,97,NO,0,0,1,0
4,2023-09-19,2,12,3,1,15,3,3,1,2023-06-12,2023-06-09,9999-99-99,2,77,2,2,2,2,2,2,2,1,2,2,2,1,7,97,NO,0,0,1,0

Campo NEUMONIA
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['NEUMONIA'].value_counts()

2     1099547
1       32673
99       5779
Name: NEUMONIA, dtype: int64

In [25]:
df_neumonia_onehot = one_hot_encode(df_seleccion_1['NEUMONIA'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_neumonia_onehot], axis=1)
df_seleccion_1.drop(columns='NEUMONIA', inplace=True)
#df_seleccion_1.head()

#df_seleccion_1.drop(columns='NEUMONIA_99', inplace=True)
#print(df_seleccion_1.info())

Campo EMBARAZO
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['EMBARAZO'].value_counts()

2     644342
97    468445
1      19778
98      5429
99         5
Name: EMBARAZO, dtype: int64

In [26]:
df_embarazo_onehot = one_hot_encode(df_seleccion_1['EMBARAZO'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_embarazo_onehot], axis=1)
df_seleccion_1.drop(columns='EMBARAZO', inplace=True)
#df_seleccion_1.head()

Campo INDIGENA
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['INDIGENA'].value_counts()

2     1077052
99      48726
1       12221
Name: INDIGENA, dtype: int64

In [27]:
df_INDIGENA_onehot = one_hot_encode(df_seleccion_1['INDIGENA'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_INDIGENA_onehot], axis=1)
df_seleccion_1.drop(columns='INDIGENA', inplace=True)

Campo INDIGENA
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['DIABETES'].value_counts()

2     1046980
1       89830
98       1189
Name: DIABETES, dtype: int64

In [28]:
df_DIABETES_onehot = one_hot_encode(df_seleccion_1['DIABETES'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_DIABETES_onehot], axis=1)
df_seleccion_1.drop(columns='DIABETES', inplace=True)

Campo EPOC
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['EPOC'].value_counts()

2     1125759
1       11158
98       1082
Name: EPOC, dtype: int64

In [29]:
df_EPOC_onehot = one_hot_encode(df_seleccion_1['EPOC'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_EPOC_onehot], axis=1)
df_seleccion_1.drop(columns='EPOC', inplace=True)

Campo ASMA
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['ASMA'].value_counts()

2     1110321
1       26640
98       1038
Name: ASMA, dtype: int64

In [30]:
df_ASMA_onehot = one_hot_encode(df_seleccion_1['ASMA'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_ASMA_onehot], axis=1)
df_seleccion_1.drop(columns='ASMA', inplace=True)

Campo INMUSUPR
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['INMUSUPR'].value_counts()

2     1126677
1       10311
98       1011
Name: INMUSUPR, dtype: int64

In [31]:
df_INMUSUPR_onehot = one_hot_encode(df_seleccion_1['INMUSUPR'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_INMUSUPR_onehot], axis=1)
df_seleccion_1.drop(columns='INMUSUPR', inplace=True)

Campo HIPERTENSION
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['HIPERTENSION'].value_counts()

2     1012018
1      124929
98       1052
Name: HIPERTENSION, dtype: int64

In [32]:
df_HIPERTENSION_onehot = one_hot_encode(df_seleccion_1['HIPERTENSION'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_HIPERTENSION_onehot], axis=1)
df_seleccion_1.drop(columns='HIPERTENSION', inplace=True)

Campo CARDIOVASCULAR
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```
Codificación binaria:
1 --> 1 Sí
2 --> 0 No

In [ ]:
df_seleccion_1['CARDIOVASCULAR'].value_counts()

2     1122370
1       14574
98       1055
Name: CARDIOVASCULAR, dtype: int64

In [33]:
df_CARDIOVASCULAR_onehot = one_hot_encode(df_seleccion_1['CARDIOVASCULAR'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_CARDIOVASCULAR_onehot], axis=1)
df_seleccion_1.drop(columns='CARDIOVASCULAR', inplace=True)

Campo OBESIDAD
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['OBESIDAD'].value_counts()

2     1049966
1       87077
98        956
Name: OBESIDAD, dtype: int64

In [34]:
df_OBESIDAD_onehot = one_hot_encode(df_seleccion_1['OBESIDAD'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_OBESIDAD_onehot], axis=1)
df_seleccion_1.drop(columns='OBESIDAD', inplace=True)

Campo RENAL_CRONICA
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['RENAL_CRONICA'].value_counts()

2     1124379
1       12574
98       1046
Name: RENAL_CRONICA, dtype: int64

In [35]:
df_RENAL_CRONICA_onehot = one_hot_encode(df_seleccion_1['RENAL_CRONICA'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_RENAL_CRONICA_onehot], axis=1)
df_seleccion_1.drop(columns='RENAL_CRONICA', inplace=True)

Campo TABAQUISMO
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['TABAQUISMO'].value_counts()

2     1090450
1       46452
98       1097
Name: TABAQUISMO, dtype: int64

In [36]:
df_TABAQUISMO_onehot = one_hot_encode(df_seleccion_1['TABAQUISMO'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_TABAQUISMO_onehot], axis=1)
df_seleccion_1.drop(columns='TABAQUISMO', inplace=True)

Campo OTRO_CASO
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['OTRO_CASO'].value_counts()

2     966448
1     153611
99     17940
Name: OTRO_CASO, dtype: int64

In [37]:
df_OTRO_CASO_onehot = one_hot_encode(df_seleccion_1['OTRO_CASO'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_OTRO_CASO_onehot], axis=1)
df_seleccion_1.drop(columns='OTRO_CASO', inplace=True)

Campo UCI
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - SI
2  - NO
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['UCI'].value_counts()

97    1049894
2       84725
1        3142
99        238
Name: UCI, dtype: int64

In [38]:
df_UCI_onehot = one_hot_encode(df_seleccion_1['UCI'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_UCI_onehot], axis=1)
df_seleccion_1.drop(columns='UCI', inplace=True)

Campo FALLECIDO
Codificación binaria:
SI --> 1
NO --> 0

In [ ]:
df_seleccion_1['FALLECIDO'].value_counts()

NO    1130442
SI       7557
Name: FALLECIDO, dtype: int64

In [39]:
df_seleccion_1['FALLECIDO'] = df_seleccion_1['FALLECIDO'].map(categorizar_si_no)
df_seleccion_1['FALLECIDO'].value_counts()

0    1130442
1       7557
Name: FALLECIDO, dtype: int64

Campo ORIGEN
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - USMER
2  - FUERA DE USMER
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['ORIGEN'].value_counts()

2    804724
1    333275
Name: ORIGEN, dtype: int64

In [40]:
df_ORIGEN_onehot = one_hot_encode(df_seleccion_1['ORIGEN'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_ORIGEN_onehot], axis=1)
df_seleccion_1.drop(columns='ORIGEN', inplace=True)

Campo SECTOR
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  -  CRUZ ROJA
2  -  DIF
3  -  ESTATAL
4  -  IMSS
5  -  IMSS-BIENESTAR
6  -  ISSSTE
7  -  MUNICIPAL
8  -  PEMEX
9  -  PRIVADA
10 - SEDENA
11 - SEMAR
12 - SSA
13 - UNIVERSITARIO
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['SECTOR'].value_counts()

4     610985
12    357817
9      86923
6      56596
3      16557
8       2912
5       2811
13      1294
7        720
11       483
10       407
2        293
99       176
1         25
Name: SECTOR, dtype: int64

In [41]:
df_SECTOR_onehot = one_hot_encode(df_seleccion_1['SECTOR'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_SECTOR_onehot], axis=1)
df_seleccion_1.drop(columns='SECTOR', inplace=True)

Campo ENTIDAD_UM
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
01 - AGUASCALIENTES
02 - BAJA CALIFORNIA
03 - BAJA CALIFORNIA SUR
04 - CAMPECHE
05 - COAHUILA DE ZARAGOZA
06 - COLIMA
07 - CHIAPAS
08 - CHIHUAHUA
09 - CIUDAD DE MÉXICO
10 - DURANGO
11 - GUANAJUATO
12 - GUERRERO
13 - HIDALGO
14 - JALISCO
15 - MÉXICO
16 - MICHOACÁN DE OCAMPO
17 - MORELOS
18 - NAYARIT
19 - NUEVO LEÓN
20 - OAXACA
21 - PUEBLA
22 - QUERÉTARO
23 - QUINTANA ROO
24 - SAN LUIS POTOSÍ
25 - SINALOA
26 - SONORA
27 - TABASCO
28 - TAMAULIPAS
29 - TLAXCALA
30 - VERACRUZ DE IGNACIO DE LA LLAVE
31 - YUCATÁN
32 - ZACATECAS
36 - ESTADOS UNIDOS MEXICANOS
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['ENTIDAD_UM'].value_counts()

9     321722
15     83162
11     63330
19     61991
21     40367
22     35252
2      34433
24     34031
7      33987
20     30124
14     28480
30     26923
28     26815
5      26163
17     24845
13     23026
25     22797
26     22023
16     21538
3      19267
31     17762
12     16785
1      16264
27     15467
18     15283
29     13603
8      13382
6      12564
32     11712
23     10967
10      9103
4       4831
Name: ENTIDAD_UM, dtype: int64

In [42]:
df_ENTIDAD_UM_onehot = one_hot_encode(df_seleccion_1['ENTIDAD_UM'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_ENTIDAD_UM_onehot], axis=1)
df_seleccion_1.drop(columns='ENTIDAD_UM', inplace=True)

Campo ENTIDAD_NAC
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
01 - AGUASCALIENTES
02 - BAJA CALIFORNIA
03 - BAJA CALIFORNIA SUR
04 - CAMPECHE
05 - COAHUILA DE ZARAGOZA
06 - COLIMA
07 - CHIAPAS
08 - CHIHUAHUA
09 - CIUDAD DE MÉXICO
10 - DURANGO
11 - GUANAJUATO
12 - GUERRERO
13 - HIDALGO
14 - JALISCO
15 - MÉXICO
16 - MICHOACÁN DE OCAMPO
17 - MORELOS
18 - NAYARIT
19 - NUEVO LEÓN
20 - OAXACA
21 - PUEBLA
22 - QUERÉTARO
23 - QUINTANA ROO
24 - SAN LUIS POTOSÍ
25 - SINALOA
26 - SONORA
27 - TABASCO
28 - TAMAULIPAS
29 - TLAXCALA
30 - VERACRUZ DE IGNACIO DE LA LLAVE
31 - YUCATÁN
32 - ZACATECAS
36 - ESTADOS UNIDOS MEXICANOS
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['ENTIDAD_NAC'].value_counts()

9     295587
15    107838
11     64227
19     52458
21     42628
30     39247
7      37791
20     35105
24     34094
14     30113
5      26531
25     26497
28     25752
16     25650
12     25443
17     23673
22     23587
26     22289
13     22194
2      20268
31     18756
27     16876
1      15961
18     14902
29     13576
8      13474
32     12974
3      12669
6      11091
10     10780
23      6036
4       5065
99      4867
Name: ENTIDAD_NAC, dtype: int64

In [43]:
df_ENTIDAD_NAC_onehot = one_hot_encode(df_seleccion_1['ENTIDAD_NAC'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_ENTIDAD_NAC_onehot], axis=1)
df_seleccion_1.drop(columns='ENTIDAD_NAC', inplace=True)

Campo ENTIDAD_RES
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
01 - AGUASCALIENTES
02 - BAJA CALIFORNIA
03 - BAJA CALIFORNIA SUR
04 - CAMPECHE
05 - COAHUILA DE ZARAGOZA
06 - COLIMA
07 - CHIAPAS
08 - CHIHUAHUA
09 - CIUDAD DE MÉXICO
10 - DURANGO
11 - GUANAJUATO
12 - GUERRERO
13 - HIDALGO
14 - JALISCO
15 - MÉXICO
16 - MICHOACÁN DE OCAMPO
17 - MORELOS
18 - NAYARIT
19 - NUEVO LEÓN
20 - OAXACA
21 - PUEBLA
22 - QUERÉTARO
23 - QUINTANA ROO
24 - SAN LUIS POTOSÍ
25 - SINALOA
26 - SONORA
27 - TABASCO
28 - TAMAULIPAS
29 - TLAXCALA
30 - VERACRUZ DE IGNACIO DE LA LLAVE
31 - YUCATÁN
32 - ZACATECAS
36 - ESTADOS UNIDOS MEXICANOS
97 - NO APLICA
98 - SE IGNORA
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['ENTIDAD_RES'].value_counts()

9     295587
15    107838
11     64227
19     52458
21     42628
30     39247
7      37791
20     35105
24     34094
14     30113
5      26531
25     26497
28     25752
16     25650
12     25443
17     23673
22     23587
26     22289
13     22194
2      20268
31     18756
27     16876
1      15961
18     14902
29     13576
8      13474
32     12974
3      12669
6      11091
10     10780
23      6036
4       5065
99      4867
Name: ENTIDAD_NAC, dtype: int64

In [44]:
df_ENTIDAD_RES_onehot = one_hot_encode(df_seleccion_1['ENTIDAD_RES'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_ENTIDAD_RES_onehot], axis=1)
df_seleccion_1.drop(columns='ENTIDAD_RES', inplace=True)

Campo TIPO_PACIENTE
Codificación OneHot:
```
CLAVE - DESCRIPCIÓN
1  - AMBULATORIO
2  - HOSPITALIZADO
99 - NO ESPECIFICADO
```

In [ ]:
df_seleccion_1['TIPO_PACIENTE'].value_counts()

9     295587
15    107838
11     64227
19     52458
21     42628
30     39247
7      37791
20     35105
24     34094
14     30113
5      26531
25     26497
28     25752
16     25650
12     25443
17     23673
22     23587
26     22289
13     22194
2      20268
31     18756
27     16876
1      15961
18     14902
29     13576
8      13474
32     12974
3      12669
6      11091
10     10780
23      6036
4       5065
99      4867
Name: ENTIDAD_NAC, dtype: int64

In [45]:
df_TIPO_PACIENTE_onehot = one_hot_encode(df_seleccion_1['TIPO_PACIENTE'])
df_seleccion_1 = pd.concat([df_seleccion_1, df_TIPO_PACIENTE_onehot], axis=1)
df_seleccion_1.drop(columns='TIPO_PACIENTE', inplace=True)

Campo EDAD
```
CApeo para mayores o iguales al valor del percentil 99
```

In [58]:
# Calcula el percentil 99 de la columna "EDAD"
percentil_99 = df_seleccion_1['EDAD'].quantile(0.99)
#print(percentil_99)
# Aplica el capeo para asignar el valor del percentil 99 a las edades mayores o iguales
df_seleccion_1['EDAD'] = df_seleccion_1['EDAD'].apply(lambda x: percentil_99 if x >= percentil_99 else x)

count    1.137999e+06
mean     3.832753e+01
std      1.934017e+01
min      0.000000e+00
25%      2.500000e+01
50%      3.700000e+01
75%      5.100000e+01
max      8.600000e+01
Name: EDAD, dtype: float64

Campo DIAS_SINTOMAS
```
Calculo la cantidad de días de síntomas del paciente restando FECHA_ACTUALIZACION - FECHA_SINTOMAS
```

In [129]:
#df_seleccion_1['FECHA_DEF'] = np.where(df_seleccion_1['FECHA_DEF'] != '1111-11-11', df_seleccion_1['FECHA_DEF'], '1777-11-11')
#df_seleccion_1['FECHA_DEF'] = pd.to_datetime(df_seleccion_1['FECHA_DEF'], format='%Y-%m-%d')
#print(df_seleccion_1['FECHA_DEF'] != '1111-11-11')
#print(df_seleccion_1['FECHA_DEF'].loc[df_seleccion_1['FECHA_DEF'] != '1111-11-11'])
#df_seleccion_1['FECHA_DEF'] = pd.to_datetime(df_seleccion_1['FECHA_DEF'], format='%Y-%m-%d')
#print(df_seleccion_1['FECHA_DEF'])

def sintomas_defuncion(fecha_def, fecha_sintomas):
  fecha_def = pd.to_datetime(fecha_def)
  fecha_sintomas = pd.to_datetime(fecha_sintomas)
  return (fecha_def - fecha_sintomas).dt.days

def sintomas_actualizacion(fecha_act, fecha_sintomas):
  fecha_act = pd.to_datetime(fecha_act)
  fecha_sintomas = pd.to_datetime(fecha_sintomas)
  return (fecha_act - fecha_sintomas).dt.days

#df_seleccion_1['DIAS_SINTOMAS'] = df.apply(lambda row : sintomas(row['FECHA_DEF'], row['FECHA_ACTUALIZACION'], row['FECHA_SINTOMAS']), axis = 1)
df_seleccion_1['DIAS_SINTOMAS'] = np.where(df_seleccion_1['FALLECIDO'] == 0, sintomas_actualizacion(df_seleccion_1['FECHA_ACTUALIZACION'],df_seleccion_1['FECHA_SINTOMAS']), sintomas_defuncion(df_seleccion_1['FECHA_DEF'],df_seleccion_1['FECHA_SINTOMAS']))

df_seleccion_1['DIAS_SINTOMAS']

0          197
1          172
2          250
3          249
4          102
          ...
1137994    217
1137995    215
1137996    211
1137997    179
1137998    109
Name: DIAS_SINTOMAS, Length: 1137999, dtype: int64

In [ ]:
df_seleccion_1

Categorización finalizada

In [ ]:
#df_seleccion_1['EDAD'].value_counts().sort_values()

In [ ]:
#print((df_seleccion_1['EDAD'] > 86).sum())

In [ ]:
#df_seleccion_1['CLASIFICACION_FINAL'].value_counts()